In [71]:
import pandas as pd
import numpy as np

In [72]:
loan = pd.read_csv("Loan_Data3.csv")

print(loan['Int_Rate'][0])
loan.head()

5.32

,Int_Rate,Investment,Term,Grade,Employment_Len,Home_Ownership,Annual_Income,Purpose,State,Debt_To_Income,Delinquance_2year
0,5.32,4800.0,36,A,2 years,MORTGAGE,143000.0,medical,KY,7.88,0
1,16.02,16000.0,60,C,9 years,MORTGAGE,40000.0,debt_consolidation,TN,32.01,0
2,11.99,32600.0,36,B,< 1 year,RENT,55000.0,house,CA,25.41,0
3,6.08,10000.0,36,A,7 years,MORTGAGE,54000.0,car,NY,0.56,0
4,5.32,9000.0,36,A,10+ years,OWN,158000.0,credit_card,NY,6.74,0

In [73]:
#failures = loan.loc[loan["Grade"]=="F"]

#failures.head(5)
loan.columns

Index(['Int_Rate', 'Investment', 'Term', 'Grade', 'Employment_Len',
       'Home_Ownership', 'Annual_Income', 'Purpose', 'State', 'Debt_To_Income',
       'Delinquance_2year'],
      dtype='object')

In [74]:
#loan.to_csv("Loan_Data2.csv",index=False)
loan.head()

,Int_Rate,Investment,Term,Grade,Employment_Len,Home_Ownership,Annual_Income,Purpose,State,Debt_To_Income,Delinquance_2year
0,5.32,4800.0,36,A,2 years,MORTGAGE,143000.0,medical,KY,7.88,0
1,16.02,16000.0,60,C,9 years,MORTGAGE,40000.0,debt_consolidation,TN,32.01,0
2,11.99,32600.0,36,B,< 1 year,RENT,55000.0,house,CA,25.41,0
3,6.08,10000.0,36,A,7 years,MORTGAGE,54000.0,car,NY,0.56,0
4,5.32,9000.0,36,A,10+ years,OWN,158000.0,credit_card,NY,6.74,0

## DATA PREPROCESSING

In [69]:


loan.ix[5430]

Int_Rate                  7.35
Investment                5000
Term                        36
Grade                        A
Employment_Len       10+ years
Home_Ownership        MORTGAGE
Annual_Income            38400
Purpose                  house
State                       CA
Debt_To_Income            5.56
Delinquance_2year            0
Name: 5430, dtype: object

In [75]:
#One-Hot-Encode the Categorical X Fields


from sklearn.preprocessing import LabelEncoder, StandardScaler


for column in loan.columns:
    
    if loan[column].dtype == type(object):
        le = LabelEncoder()
        loan[column]=le.fit_transform(loan[column].astype(str))
        
    print(loan[column].dtype)
        
        
    
loan.head()

float64
float64
int64
int64
int64
int64
float64
int64
int64
float64
int64

,Int_Rate,Investment,Term,Grade,Employment_Len,Home_Ownership,Annual_Income,Purpose,State,Debt_To_Income,Delinquance_2year
0,5.32,4800.0,36,0,2,1,143000.0,7,16,7.88,0
1,16.02,16000.0,60,2,9,1,40000.0,2,41,32.01,0
2,11.99,32600.0,36,1,10,4,55000.0,5,4,25.41,0
3,6.08,10000.0,36,0,7,1,54000.0,0,33,0.56,0
4,5.32,9000.0,36,0,1,3,158000.0,1,33,6.74,0

In [70]:
#First entry of encoded fit_transform data
test_loan.ix[5430]

Int_Rate                 7.35
Investment            5000.00
Term                    36.00
Grade                    0.00
Employment_Len           1.00
Home_Ownership           1.00
Annual_Income        38400.00
Purpose                  5.00
State                    4.00
Debt_To_Income           5.56
Delinquance_2year        0.00
Name: 5430, dtype: float64

In [76]:
#confirm all columns have same length

loan.count()

Int_Rate             464745
Investment           464745
Term                 464745
Grade                464745
Employment_Len       464745
Home_Ownership       464745
Annual_Income        464745
Purpose              464745
State                464745
Debt_To_Income       464745
Delinquance_2year    464745
dtype: int64

In [77]:
#test X and y, report lengths
#x are entire dataset fields short of the one we are predicting(Interest rate), dropped 
X=loan.drop("Int_Rate",axis=1)
y=loan["Int_Rate"]
print(X.shape,y.shape)

(464745, 10) (464745,)

In [78]:
#Split into Training and Test Data

#import deeplearning modules
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

#split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.90, test_size=.1, random_state=1)

X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [79]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)

encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)


# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)


print(X_train.shape)
print(y_train.shape)

(418270, 10)
(418270,)

In [81]:
X_train_scaled[:1]

array([[ 0.72167821, -0.6385661 , -1.33292391,  0.7591329 ,  1.11627639,
        -0.3045977 , -0.36769146, -0.91994625,  0.44115882, -0.34333895]])

In [80]:
#import statements
from keras.models import Sequential
from keras.layers import Dense


#add more layers where needed
model = Sequential()

model.add(Dense(units=100, activation='relu', input_dim=10))

model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
#model.add(Dense(units=100, activation='relu'))
#model.add(Dense(units=100, activation='relu'))
#model.add(Dense(units=100, activation='relu'))
#model.add(Dense(units=100, activation='relu'))


#**********need to change number of nodes after I'm able to scale all X categories*****
model.add(Dense(units=67, activation='softmax'))

In [81]:
#===============================TEST===============
#Compile the model - CHANGE EPOCHS
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])


model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=5,
    shuffle=True,
    verbose=2
)

Epoch 1/5
 - 40s - loss: 1.9759 - acc: 0.2149
Epoch 2/5
 - 40s - loss: 1.9243 - acc: 0.2259
Epoch 3/5
 - 39s - loss: 1.9188 - acc: 0.2279
Epoch 4/5
 - 38s - loss: 1.9167 - acc: 0.2308
Epoch 5/5
 - 39s - loss: 1.9148 - acc: 0.2305

In [ ]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)

print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [82]:
#prediction testing
encoded_predictions = model.predict_classes(X_test_scaled[:25])

prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f"Predicted Interest Rate: {prediction_labels}")
print(f"Actual Interest Rate: {list(y_test[:25])}")

Predicted Interest Rate: [  9.93  12.62   7.35   9.93   9.44  12.62   9.44  17.09  11.99  10.91
  17.09   9.93   9.44  12.62  18.06  10.91  12.62  10.91  10.91  17.09
  10.91   7.97  15.05  17.09   9.44]
Actual Interest Rate: [11.99, 12.619999999999999, 7.3499999999999996, 10.91, 8.2400000000000002, 13.59, 10.42, 20.0, 9.4399999999999995, 10.42, 19.030000000000001, 11.390000000000001, 9.4399999999999995, 12.74, 18.059999999999999, 10.91, 12.619999999999999, 10.91, 9.4399999999999995, 20.0, 10.91, 7.9699999999999998, 16.02, 17.09, 10.42]

In [68]:
#===================Test columns to check inputs for predictions============

print(y_test[:3])

430044    10.42
396725    15.05
5430       7.35
Name: Int_Rate, dtype: float64

In [56]:
# Save the model
model.save("loan_model_trained.h5")

# PREDICTING NEW VALUES

In [ ]:
Int_Rate                      16.02
Investment                     4000
Term                             36
Grade                             C
Employment_Len              2 years
Home_Ownership                 RENT
Annual_Income                 28000
Purpose              major_purchase
State                            IL
Debt_To_Income                 12.3
Delinquance_2year                 0

In [15]:
from keras.models import Sequential
from keras.layers import Dense
from keras.models import load_model

model = load_model("loan_model_trained.h5")

In [52]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
Int_Rate=16.02
Investment = 4000.0
Term = 36
Grade = "C"
Employment_Len = "2 years"
Home_Ownership = "RENT"
Annual_Income=28000.0
Purpose = "major_purchase"
State = "IL"
Debt_To_Income = 12.3
Delinquence_2year = 0

loan_array = [Int_Rate,Investment,Term,Grade,Employment_Len,Home_Ownership,Annual_Income,Purpose,State,Debt_To_Income,Delinquence_2year]

user_input = pd.DataFrame(data=[loan_array],columns=['Int_Rate','Investment', 'Term', 'Grade', 'Employment_Len','Home_Ownership', 'Annual_Income', 'Purpose', 'State', 'Debt_To_Income','Delinquance_2year'])




#construct loan_input
test_loan = pd.read_csv("Loan_Data3.csv")


test_loan=test_loan.append(user_input)

test_loan.tail(1)

,Int_Rate,Investment,Term,Grade,Employment_Len,Home_Ownership,Annual_Income,Purpose,State,Debt_To_Income,Delinquance_2year
0,16.02,4000.0,36,C,2 years,RENT,28000.0,major_purchase,IL,12.3,0

In [53]:
#RE FIT/TRANSFORM WITH NEW ROW THAT WE WANT TO PREDICT
#One Hot Encoding for String X Columns
for column in test_loan.columns:
   
   if test_loan[column].dtype == type(object):
       le = LabelEncoder()
       test_loan[column]=le.fit_transform(test_loan[column].astype(str))
   print(test_loan[column].dtype)

print(test_loan.count())

float64
float64
int64
int64
int64
int64
float64
int64
int64
float64
int64
Int_Rate             464746
Investment           464746
Term                 464746
Grade                464746
Employment_Len       464746
Home_Ownership       464746
Annual_Income        464746
Purpose              464746
State                464746
Debt_To_Income       464746
Delinquance_2year    464746
dtype: int64

In [54]:

#remove int_rate from dataset

X=test_loan.drop("Int_Rate",axis=1)
y=test_loan["Int_Rate"]


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical


#take one-hot-encoded last row to grab user input
one_hot_input = test_loan.tail(1)

#drop the temporary Int_Rate from one_hot_input
one_hot_input = one_hot_input.drop("Int_Rate",axis=1)

#drop tail from dataset to ensure we have it in the train(will put it right back in)
test_loan = test_loan.drop(test_loan.index[len(test_loan)-1])

#split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.90, test_size=.1, random_state=1)

#add one hot encoded user input row back to X_train
X_train=X_train.append(one_hot_input)

#finish fitting and transforming data
X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

label_encoder = LabelEncoder()
label_encoder.fit(y_train)

encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)


# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

## testing last line

pred_row = [X_train_scaled[-1]]
#temp_loan = test_loan.drop("Int_Rate",axis=1)
#pred_row.count()
print(X_train_scaled[-1])

[-1.12172927 -0.63803346  0.33363688 -0.59572424  1.11560157 -0.27584774
  1.17931298 -0.64448517 -0.37591755 -0.34230323]

In [55]:
#=====================FINAL PREDICTION TIME!!!!!!


encoded_predictions = model.predict_classes(X_train_scaled)

prediction_labels = label_encoder.inverse_transform(encoded_predictions)


print(prediction_labels[-1])


#print(f"Predicted Interest Rate: {prediction_labels}")
#print(f"Actual Interest Rate: {list(y_test[:25])}")

16.02